<body>
  <section class="login-container">
      <div class="login-form adminlogin">
        <h2>Login</h2>
        <form #loginForm="ngForm" (ngSubmit)="submitForm(loginForm)">
            <div class="input-container">
                <input type="email" id="email"  class="form-control" [(ngModel)] = "customerEmail" ngModel name="un2" #un2="ngModel" required placeholder="Email"/>
            </div>
            <p *ngIf="un2.touched&&un2.errors?.['required']" style="color:red">*email required</p>
            <div class="input-container">
                <input type="password" id="password"  class="form-control" [(ngModel)] = "password" ngModel name="un3" #un3="ngModel" minlength="5" required placeholder="Password"/>
            </div>
            <p *ngIf="un3.touched&&un3.errors?.['required']" style="color:red">*password required</p>
            <!-- <p *ngIf="un3.touched&&un3.errors?.['minlength']" style="color:red">*password length should be >4</p> -->
           <!-- <button  [disabled]="false" (click)="check(loginForm)">Login</button> -->
           <button  [disabled]="false" (click)="login()">Login</button>
           
           <div class="options">
            <a routerLink="/register" class="register-link">User SignUp</a>
        </div>
        </form>
            </div>
       
      <!-- <div class="login-form userlogin">
          <h2>User Login</h2>
          <form id="login-form" #loginForm1="ngForm" (ngSubmit)="submitForm(loginForm1)">
              <div class="input-container">
                  <input type="email"  required class="form-control" ngModel name="un" #un="ngModel" placeholder="Email"/>
              </div>
              <p *ngIf="un.touched&&un.errors?.['required']" style="color:red">*email required</p>
              <div class="input-container">
                  <input type="password"   required class="form-control" ngModel name="un1" #un1="ngModel" minlength="5" required placeholder="Password"/>
              </div>
              <p *ngIf="un1.touched&&un1.errors?.['required']" style="color:red">*password required</p>
              <p *ngIf="un1.touched&&un1.errors?.['minlength']" style="color:red">*password length should be >4</p>
             <button type="submit"  [routerLink]="check1(loginForm1)? '/home' : '/'" [disabled]="false">Login</button>
             
          </form>
      </div> -->
    <div class="img">
        <img src="https://th.bing.com/th/id/OIP.ZyISOBtIkwlnI7zs238cJwHaFb?w=286&h=210&c=7&r=0&o=5&dpr=1.5&pid=1.7"/>
    </div>
  </section>
</body>
 