
    <ul>
        <li>
        <button class="logout" routerLink="/login">LogOut</button>
        </li>
        <li>
            <a routerLink="/about" routerLinkActive="active">Specials</a>
        </li>
        <li>
            <a routerLink="/contact"  routerLinkActive="active">Contact</a>
        </li>
        <li>
            <a routerLink="/order"  routerLinkActive="active">OrderNow</a>
        </li>
        <li>
            <a routerLink="/cart"  routerLinkActive="active">Cart</a>
        </li>
        <li>
            <a routerLink="/menu"  routerLinkActive="active">Menu</a>
        </li>
        <li>
            <a routerLink="/home"  routerLinkActive="active">Home</a>
        </li>
        <li class="lc" routerLink="/home">
            <img src="./../../assets/image/clipart-chef-15-removebg-preview.png" alt="logo" class="logo">
            <p>foodMUNCH</p>
        </li>
    </ul>


